*
{
    margin: 0;
    padding: 0;
}

header{
    /*background-image: url(image_file_name);
    background-color: black;
    height: 100vh;
    background-size: auto;
    background-position: center;*/
}
/*
.main-nav
{
    float: center;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 2px solid black;
}

.main-nav li a:hover
{
    border: 1px solid black;
}

.logo img
{
    width: x px;
    height: auto;
    float: left;
}

.row
{
    max-width: 1200px;
    margin: auto;
}
*/

.band{
    background-color: rgb(41, 41, 41);
    height: 400px;
    background-size: auto;
    background-position: 100px;
}

.hero
{
    position: absolute;
    width: 960px;
    margin-left: 0px;
    margin-top: 0px;
    font-family: 'Trebuchet MS';
}

h1
{
    color: rgb(225, 225, 225);
    text-transform: none;
    font-size: 72px;
    text-align: auto;
    margin-top: 100px;
    margin-left: 50px;
}

.button
{
    margin: auto;
    width: 50%;
    margin-top: 65px;
    margin-left: 95px;
}

.btn
{
    border: 1px solid gray;
    padding: 10px 30px;
    color: rgb(225, 225, 225);
    text-decoration: none;
    margin-right: 5px;
    font-size: 20px;
    text-transform: none;
}

.headshot img
{
    width: 250px;
    height: auto;
    margin-right: -200px;
    margin-top: -220px;
    float: right;
    border: 1.5px solid rgb(184, 184, 184);
    border-radius: 1px;
}

.linkedin
{
    font-family: 'Trebuchet MS';
}

.linkedin:hover
{
    background-color: rgb(9, 174, 211);
    transition: 0.5s;
}

.github
{
    font-family: 'Trebuchet MS';
}

.github:hover
{    
    background-color: rgb(9, 174, 211);
    transition: 0.5s;
}
.resume
{
    font-family: 'Trebuchet MS';
}

.resume:hover
{
    background-color: rgb(9, 174, 211);
    transition: 0.5s;
}